// Color system
$blue:    #2171BC !default;
$cyan:    #3EA9F6 !default;
$link-color: $cyan !default;
$white:    #fff !default;
$gray-500: #adb5bd !default;
$input-placeholder-color:  $gray-500 !default;

// ALERT
$alert-border-radius: 0;
$alert-left-border-width: .25rem;
$alert-padding-y: 1.25rem !default;